[Unit]
Description=HTTP Echo

[Service]
Type=simple
Restart=no
WorkingDirectory=/home/ubuntu/http-echo
ExecStart=/usr/bin/npm run prod --prefix /home/ubuntu/http-echo

[Install]
WantedBy=multi-user.target